@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@300;400;500;700;800;900&display=swap");

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Encode Sans Expanded", sans-serif;
	font-family: "Kumbh Sans", sans-serif;
	font-size: 16px;
}
